/* Stylesheet for the messages */

#topicsSummary .topic, #topicsSummary .date {
    text-align: left;
}
#topicsSummary .date {
    text-align: right;
}

h1 .shortLink {
    font-size: xx-small;
    font-weight: 200;
}

.messages-nl .label {
    font-weight: bold;
}
 
.messages-nl ul {
    list-style: none inside none;
}
.messages-nl ul li {
    margin: 0px 30px 0px 0px;
    padding: 5px 0px 0px 0px;
}
.messages-nl a, .messages-nl span {
    padding: 5px 5px 5px 30px;
    background-repeat: no-repeat;
    background-position: left center;
}

#usefulLinks.messages-nl p {
    display: none;
}

#usefulLinks.messages-nl a {
    padding-left: 0px;
    margin-right: 10px;
}
#usefulLinks.messages-nl .alternateATOM a {
    padding-left: 18px;
}


.messages-nl .first a, .messages-nl .first span {
    background-image: url('/++resource++postImages/arrow_left_bar.png');
}
.messages-nl .prev a, .messages-nl .prev span {
    background-image: url('/++resource++postImages/arrow_up.png');
}
.messages-nl .next a, .messages-nl .next span {
    background-image: url('/++resource++postImages/arrow_down.png');
}

#singlePostTopicNavigation.messages-nl  ul li {
    display: inline;
}

#singlePostTopicNavigation.messages-nl .prev a,
#singlePostTopicNavigation.messages-nl .prev span {
    background-image: url('/++resource++postImages/arrow_left.png');
}
#singlePostTopicNavigation.messages-nl .next a, 
#singlePostTopicNavigation.messages-nl .next span {
    background-image: url('/++resource++postImages/arrow_right.png');
}
#singlePostTopicNavigation.messages-nl .last a,
#singlePostTopicNavigation.messages-nl .last span {
    background-image: url('/++resource++postImages/arrow_right_bar.png');
}
#singlePostTopicNavigation.messages-nl .next a,
#singlePostTopicNavigation.messages-nl .next span {
    background-image: url('/++resource++postImages/arrow_right.png');
}
#singlePostTopicNavigation.messages-nl .topicLink a {
    background-image: url('/++resource++postImages/arrow_up.png');
}
pre.email-body {
  margin: 0px;
}

.userimage {
    margin: 0px;
    padding: 0px 15px 15px 0px;
    float: left;
}

.email-metadata .author, .email-metadata .posted {
  padding-right: 30px;
}

.emaildetails-odd, .emaildetails-self-odd, .emaildetials-even, .emaildetails-self-even
{
    padding: 15px 30px 15px 30px;
}

.email-remainder {
    clear: both;
}

#content .emailshowremainder a {
  display: block;
  width: 100%;
  text-decoration: none;
}

/* List of latest posts */

.email-metadata .topic {
  display: block;
  font-weight: bold;
  font-size: 1.4em;
  padding: 0px 0px 15px 0px;
}

/* Topic-index table */
table#results {
    padding-bottom: 30px;
}

#post-message {
    padding-top: 30px;
}

#post-message h2 {
    padding-top: 0px;
}

#toggleStickyTopic {
    float: right;
}
#toggleStickyTopic div {
    padding: 0px;
}
#toggleStickyTopic .hint {
    width: 10em;
}
#toggleStickyTopic input {
    display: none;
}
#toggleStickyTopic input.button {
    margin: 10px 0px 0px 0px;
    display: block;
}

/* Disclosure Button */
a.hiddenArrow {
    background: transparent url("/++resource++postImages/disclosure-arrow-hidden.gif") no-repeat;
    width: 16px;
    height: 16px;
}
a.shownArrow {
    background: transparent url("/++resource++postImages/disclosure-arrow-shown.gif") no-repeat;
    width: 16px;
    height: 16px;
}
.emailshowremainder a .txt {
    display: none;
}

/* Message entry box */
#message {
    width: 100%;
    max-width: 80em;
    height: 20em;
}
