/* Stylesheet for the messages */

/* Summary for the Latest Topics page */
#topicsSummary .topic, #topicsSummary th.posts, #topicsSummary th.date {
    text-align: left;
    padding: 5px 10px 5px 10px;
}
#topicsSummary td.posts, #topicsSummary td.date {
    padding: 5px 10px 5px 10px;
    text-align: right;
}
#topicsSummary caption {
  display: none;
}

/* Summary for All Posts in Topic page */
#topicSummary {
  margin: 30px 0px 30px 0px;
}

#topicSummary .label {
  font-size: 112%;
  font-weight: bold;
}

h1 .shortLink {
    font-size: 40%;
    font-weight: 200;
}

.messages-nl .label {
    font-weight: bold;
}
 
.messages-nl ul {
    list-style: none inside none;
}
.messages-nl ul li {
    margin: 0px 30px 0px 0px;
    padding: 5px 0px 0px 0px;
}
.messages-nl a, .messages-nl span {
    padding: 5px 5px 5px 30px;
    background-repeat: no-repeat;
    background-position: left center;
}

#usefulLinks.messages-nl p {
    display: none;
}

#usefulLinks.messages-nl a {
    padding-left: 0px;
    margin-right: 10px;
}
#usefulLinks.messages-nl .alternateATOM a {
    padding-left: 18px;
}


.messages-nl .first a, .messages-nl .first span {
    background-image: url('/++resource++postImages/arrow_left_bar.png');
}
.messages-nl .prev a, .messages-nl .prev span {
    background-image: url('/++resource++postImages/arrow_up.png');
}
.messages-nl .next a, .messages-nl .next span {
    background-image: url('/++resource++postImages/arrow_down.png');
}

#topicNavigation .label, #topicsNavigation .label, #postsNavigation .label {
    display: none;
}

#singlePostTopicNavigation.messages-nl ul li, #usefulLinks.messages-nl ul li {
    display: inline;
}

#singlePostTopicNavigation.messages-nl .prev a,
#singlePostTopicNavigation.messages-nl .prev span {
    background-image: url('/++resource++postImages/arrow_left.png');
}
#singlePostTopicNavigation.messages-nl .next a, 
#singlePostTopicNavigation.messages-nl .next span {
    background-image: url('/++resource++postImages/arrow_right.png');
}
#singlePostTopicNavigation.messages-nl .last a,
#singlePostTopicNavigation.messages-nl .last span {
    background-image: url('/++resource++postImages/arrow_right_bar.png');
}
#singlePostTopicNavigation.messages-nl .next a,
#singlePostTopicNavigation.messages-nl .next span {
    background-image: url('/++resource++postImages/arrow_right.png');
}
#singlePostTopicNavigation.messages-nl .topicLink a {
    background-image: url('/++resource++postImages/arrow_up.png');
}
pre.email-body, .emailshowremainder pre {
  margin: 0px;
  font-size: 92%;
}

.userimage {
    margin: 0px;
    padding: 0px 15px 15px 0px;
    float: left;
}

.userimage img {
    width: 80px;
}

.email-metadata .author, .email-metadata .posted {
  padding-right: 30px;
}

.emaildetails-odd, .emaildetails-self-odd, .emaildetials-even, .emaildetails-self-even
{
    padding: 15px 30px 15px 30px;
}

.email-remainder {
    clear: both;
}

#content .emailshowremainder a {
  display: block;
  width: 100%;
  text-decoration: none;
  font-family: "Lucida Sans Unicode";
}

/* List of latest posts */

.email-metadata .topic {
  display: block;
  font-weight: bold;
  font-size: 122%;
  padding: 0px 0px 15px 0px;
}

/* Topic-index table */
table#results {
    padding-bottom: 30px;
}

table#results caption {
  padding-top: 30px;
  text-align: left;
  font-size: 122%;
  font-weight: bold;
}
table#results .file a img {
  border: none;
}
table#results .file {
    padding-left: 30px;
}

table#results th {
    text-align: left;
}

table#results th.file {
    visibility: hidden;
}

#post-message {
    padding-top: 30px;
}

#post-message h2 {
    padding-top: 0px;
}

#toggleStickyTopic {
    float: right;
}
#toggleStickyTopic div {
    padding: 0px;
}
#toggleStickyTopic .hint {
    width: 10em;
}
#toggleStickyTopic input {
    display: none;
}
#toggleStickyTopic input.button {
    margin: 10px 0px 0px 0px;
    display: block;
}

.fileMetadata img {
    border: none;
}

/* Disclosure Button */
a.hiddenArrow {
    background: transparent url("/++resource++postImages/disclosure-arrow-hidden.gif") no-repeat;
    width: 16px;
    height: 16px;
}
a.shownArrow {
    background: transparent url("/++resource++postImages/disclosure-arrow-shown.gif") no-repeat;
    width: 16px;
    height: 16px;
}
.emailshowremainder a .txt {
    display: none;
}

/* Message entry box */
#message {
    width: 100%;
    max-width: 80em;
    height: 20em;
}
