/* Stylesheet for the single-post view of a topic */
#singlePostTopicNavigation .label {
    font-size: 12px; 
    font-weight: bold;
    color: #6c911d;
}
#singlePostTopicNavigation ul li {
    display: inline;
    margin: 0px 30px 0px 0px;
    padding: 5px 0px 0px 0px;
    font-size: 11px;
}
#singlePostTopicNavigation a {
    padding: 5px 5px 5px 30px;
    background-repeat: no-repeat;
    background-position: left center;
}
#singlePostTopicNavigation a:hover {
    background-color: #eff0ed;
}
#singlePostTopicNavigation .first a {
    background-image: url('/++resource++postImages/arrow_left_bar.png');
}
#singlePostTopicNavigation .prev a {
    background-image: url('/++resource++postImages/arrow_left.png');
}
#singlePostTopicNavigation .next a, #singlePostTopicNavigation .last a {
    padding: 5px 30px 5px 5px;
    background-position: right center;
}
#singlePostTopicNavigation .next a {
    background-image: url('/++resource++postImages/arrow_right.png');
}
#singlePostTopicNavigation .last a {
    background-image: url('/++resource++postImages/arrow_right_bar.png');
}
#singlePostTopicNavigation .topicLink {
    display: block;
}
#singlePostTopicNavigation .topicLink a {
    background-image: url('/++resource++postImages/arrow_up.png');
}

pre.email-body {
  margin: 0px;
}

div.userimage {
    margin: 0px;
    padding: 0px 15px 15px 0px;
}

.email-metadata .author, .email-metadata .posted {
  padding-right: 30px;
}

.postList .emaildetails-odd, .postList .emaildetails-self-odd,
.postList .emaildetials-even, .postList .emaildetails-self-even
{
    padding: 15px 30px 15px 30px;
}

#content .emailshowremainder {
    clear: both;
}

#content .emailshowremainder a {
  display: block;
  width: 100%;
  text-decoration: none;
}
.emailRemainderHidden {
  display: none;
}

.emailRemainderShown {
  display: block;
}