/* Stylesheet for the single-post view of a topic */

.messages-nl .label {
    font-size: 12px; 
    font-weight: bold;
    color: #6c911d;
}
.messages-nl ul li {
    display: inline;
    margin: 0px 30px 0px 0px;
    padding: 5px 0px 0px 0px;
    font-size: 11px;
}
.messages-nl a, .messages-nl span {
    padding: 5px 5px 5px 30px;
    background-repeat: no-repeat;
    background-position: left center;
}
.messages-nl a:hover {
    background-color: #eff0ed;
}
.messages-nl .first a, .messages-nl .first span {
    background-image: url('/++resource++postImages/arrow_left_bar.png');
}
.messages-nl .prev a, .messages-nl .prev span {
    background-image: url('/++resource++postImages/arrow_left.png');
}
.messages-nl .next a, .messages-nl .next span, 
.messages-nl .last a, .messages-nl .last span{
    padding: 5px 30px 5px 5px;
    background-position: right center;
}
.messages-nl .next a, .messages-nl .next span {
    background-image: url('/++resource++postImages/arrow_right.png');
}
.messages-nl .last a, .messages-nl .last span {
    background-image: url('/++resource++postImages/arrow_right_bar.png');
}
.messages-nl .topicLink, .messages-nl .posts, .messages-nl .topics, .messages-nl .start {
    line-height: 30px;
    display: block;
}

.messages-nl .topics a, .messages-nl .posts  a, .messages-nl .start a {
    padding-left: 0px;
}

.messages-nl .topicLink a {
    background-image: url('/++resource++postImages/arrow_up.png');
}
pre.email-body {
  margin: 0px;
}

div.userimage {
    margin: 0px;
    padding: 0px 15px 15px 0px;
}

.email-metadata .author, .email-metadata .posted {
  padding-right: 30px;
}

.postList .emaildetails-odd, .postList .emaildetails-self-odd,
.postList .emaildetials-even, .postList .emaildetails-self-even
{
    padding: 15px 30px 15px 30px;
}

.email-remainder {
    clear: both;
}

#content .emailshowremainder a {
  display: block;
  width: 100%;
  text-decoration: none;
}
.emailRemainderHidden {
  display: none;
}

.emailRemainderShown {
  display: block;
}

/* List of latest posts */

.email-metadata .topic {
  display: block;
  font-weight: bold;
  font-size: 1.4em;
  color: #6C911D;
  padding: 0px 0px 15px 0px;
}